body{
	background-color: #223143;
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

.bodyRegistro{
	background-image: url(../assets/imgBodyRegistro.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	animation: recargar 2s both;
}

p{
  font-family: "Noto Sans JP", sans-serif;
}

.logo {
	padding: 10px;
}

.header{
	background-image: url(../assets/imgCover.jpg);
	height: 50vw;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
	animation: recargar 2s both;
}

.headerNavIndex,.headerRegistroNav,.headerDetalleNav{
	background-color: #fdf3f31a;
	width: 100%;
}

.headerRegistro{
	height: 60px;
	width: 100%;
}

ul {
	display: flex;
	justify-content: end;
	align-items: center;
	color: white;
	list-style-type: none;
	padding: 0 30px;
	margin: 0;
}

.listaRegistro{
	justify-content: space-between;
	padding: 0 10px;
}

.listaRegistro-last{
	display: flex;
}

.active{
	opacity: 1;
}

a{
	font-size: 1rem;
	text-decoration: none;
	color: white;
	padding: 10px;
}

.navegador:hover:not(.active){
	opacity: 1;
}
/*----------------------------------------------------------- S T Y L E S      R E G I S T R O ------*/
.formulario{
	margin: 50px auto;
	display: flex;
	justify-content: center;
}

.formularioInicio{
	margin: 90px auto;
}

.formRegistro{
	width: 300px;
	text-transform: capitalize;
	padding: 20px;
    background-color: black;
}

.formInicio{
	text-align: center;
}

legend{
	font-size: 30px;
	text-align: left;
    color: white;
}

.inputs{
	padding: 5px 5px;
	color: white;
	border-radius: 15px;
	margin-top: 10px;
	border:solid 1px indianred;
	background-color: dimgray ;
	width: 100%;
	box-sizing: border-box;
}

.formInicio .inputs{
	margin-bottom: 10px;
} 

.formInicio p{
	margin: 0;
}

.formInicio p:hover{
	text-decoration: underline;
}

.inputs::placeholder{
	color: lightgray;
}

.inputs:hover{
	cursor: pointer;
	background-color: gray;
}

.inputs:focus-visible{
	outline: none;
}

.email:invalid{
	color: red;
}

.check{
	display: flex;
	justify-content: left;
	margin: 10px;
	font-size: 0.6rem;
	border: none;
	color: white;
	column-gap: 10px;
}

input[type="checkbox"]{
	width: 15px;
}

.boton{
	text-transform: capitalize;
	color: white;
	width: 100%;
	padding: 10px 50px;
	border: none;
	background-color: indianred;
}

.boton-inicioSesion{
	margin-top: 10px;
}

.boton:hover{
	background-color: darkred;
}

.parrafoValidacion{
	font-size: .7rem;
	overflow: hidden;
	text-align: center;
	height: 20px;
	padding: 5px;
	margin: 0%;
}

.buscador{
	margin-top: 20px;
	display: block;
}

.buscador input{
	width: 300px;
	height: 28px;
	border: none;
	border-radius: 18px;
	text-align: center;
	margin:  auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.buscador button{
	padding: 5px 15px;
	margin: 10px auto;
	border: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.buscador button:hover{
	background-color: #7c072afb;
}

.catalogoPrincipal h2{
	padding: 40px;
	text-transform: uppercase;
	text-align: center;
	color: white;
	border-top: solid 2px white;
}

.catalogoPrincipal{
	max-width: 85%;
	margin: 20px auto;
	animation: recargar 4s both;
}

@keyframes recargar{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.catalogoInterno{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.catalogoFinal div{
	display: flex;
	flex-direction: row;
	height: 280px;
	overflow: auto;
	padding: 40px;
}

.catalogoFinal div a:not(:last-child){
	padding-right: 100px;
}

.fondomarvel{
	background-image: url(../assets/bannermarvel2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

button{
	background-color: indianred;
	border-radius: 18px;
	margin-left: 10px;
	padding: 0 15px;
}

.boton , button:hover{
	cursor: pointer;
}

.fotos{
 margin: auto;
}


img{
	border: white 1px solid;
	height: 220px;
	width:  150px;
}

img:hover{
	box-shadow: 0 0 20px white;
}

/*-------------------------------------------------------------------- STYLES PAGINA DETALLES ---------------*/

.bodyDetalle{
	background-color: #223143;
	animation: recargar 4s -0.5s both;
}

.headerDetalle{
	height: 60px;
}

.mainDetalle{	
	gap: 20px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	color: white;
	width: 70%;
	margin: 70px auto;
	padding: 60px 30px;
	box-shadow: 0 0 10px gray;
}

.mainDetalle div:nth-child(1) {
	display: flex;
	justify-content: center;
}

.mainDetalle div:nth-child(2) {
	display: block;
	text-align: center;
}

.detalleInterno{
	display: flex;
	justify-content: space-around;
	line-height: 1.5rem;
}

.detalleInterno p{
	font-size: 1.5rem;
	color: indianred;
}

.mainDetalle h2{
	margin-top: 0;
	font-size: 2rem;
}

.mainDetalle2{
	background-color: #242121;
	max-width: 80%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 50px auto;
	padding: 20px;
}

.mainDetalle2__especificaciones{
	color: white;
	margin: auto;
	gap: 60px;
	display: flex;
}

.lista1,.lista2{
	display: block;
}

.lista1 li:not(:first-child),.lista2 li:not(:first-child){
	padding-top: 20px;
}

/*----------------------------------------------------------------------------- STYLES FOOTER --------------*/
.footer{
	color: white;
	padding: 30px 50px;
	align-items: center;
	background-color: gray;
	text-align: justify;
}

.footer_interno{
	display: grid;
	grid-template-columns: 3fr 1fr;
	column-gap: 100px;
}

.redes{
	display: flex;
	justify-content: space-around;
	align-items: center;
	column-gap: 30px;
	opacity: 0.8;
}

.logos{
	background-color: white;
	padding: 15px;
	border-radius: 50% ;
	display: flex;
	text-align: center;
	align-items: center;
}

.panelDeAyuda{
	margin-top: 20px;
	font-size: 20px;
	display: flex;
	justify-content: space-around;
}

.panelDeAyuda a{
	color: white;
	text-decoration: none;
	padding: 0;
	opacity: 0.5;
}

.panelDeAyuda a:hover,.redes a:hover{
	opacity: 1;
}

/*--------------------------------------------------------------- STYLES SCREEN TABLETS Y CELULARES -------------------*/

@media(max-width:935px){
	.navegador{
		padding: 20px;
	}
	.logo{
		padding-left: 20px;
	}
	.catalogoPrincipal{
		max-width: 80%;
		margin: 20px auto;
	}
	.catalogoInterno{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: auto;
	}
	img{
		width: 200px;
		box-shadow: 0 0 10px white;
	}
	.fotos{
		margin: 10px auto;
	}
	.mainDetalle{
	  display: flex;
	  flex-direction: column;
	  color: white;
	  width: 70%;
  	}  
	  .mainDetalle div:nth-child(1) {
 	  display: flex;
 	  justify-content: center;
  	}
  	.mainDetalle div:nth-child(2) {
 	   margin: 0; 
 	}
  	.mainDetalle2{
  	  display:block;
  	  margin: auto;
    }
    .mainDetalle2__especificaciones{
  	  justify-content: center;
  	  margin-top: 20px;
    }
	.footer{	
	  margin-top: 50px;
	  color: white;
	  padding: 30px auto;
	  display: block;
	  background-color: gray;
	  text-align: center;
	}
	.footer_interno{
      display: inherit;
	  padding: 15px auto;
	}
	.panelDeAyuda{
	  line-height: 1.5EM;
	  display: inline-block;
	  text-align: center;
	}
	.redes{
	  margin: 30px auto;
	  width: 100%;
    }
    .logos{
      margin-top: 8px;
	  background-color: white;
	  padding: 10px;
	  border-radius: 50% ;
	  display: flex;
	  justify-content: center;
	  align-items: center;
    }
    .detalleInterno{
	  display: block;
	  text-align: center;
	  line-height: 2rem;
}
}

@media(max-width:500px){
	.headerNavIndex,.headerRegistroNav,.headerDetalleNav{
		height: 10vh;
	}
	.headerNavIndex ul,.headerRegistroNav ul,.headerDetalleNav ul{
		width: 100%;
		padding: 0;
	}
	.headerRegistro{
		height: 100%;
		width: 100%;
	}
	.listaRegistro{
		box-sizing: border-box;
	}
	.listaRegistro:first-child{
		padding-left: 20px;
	}
	.formInicio{
		width: 280px;
	}
	.formRegistro{
		margin: auto;
	}
	.header{
		height: 350px;
		background-position: center;
	}
	.catalogoInterno{
		display: block;
	}
	.fotos{
		display: flex;
		justify-content: center;
	}
	img{
		width: 250px;
		height: 400px;
	}
	.catalogoFinal div{
		height: 450px;	
		padding: 40px 10px;
	}
	.catalogoFinal div a:first-child{
		padding-left: 0;
	}
	.mainDetalle2__especificaciones{
		column-gap: 0;
	}
	.footer{
		max-width: 100%;
	}
}

/*ESTILOS PARA API CLIMA*/
.container{
	 height: 40px;
	 width: 45%;
	 position: fixed;
	 bottom: 60px;
	 left: 10px;
	 border: 1px solid black;
	 background-color:#1313a1a3;
	 border-radius: 10px;
	 box-sizing: border-box;
}
     
.card-titulo{
	 width: 40%;
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
	 height: 100%;
	 position: absolute;

}
	
.card-titulo h2{
	 margin: auto;	
/*	 justify-content: center;
	 align-items: center;*/
}
	
.card-info{	 
	 gap: 8px;
	 width: 60%; 
	 position: absolute;
	 height: 100%;
	 display: flex;
	 flex-direction: row;
	 justify-content: center;
	 align-items: center;
	 right: 0;
}

.card-info p{
	margin: 0;
}
/*MEDIA QUERY SOLO PARA API CLIMA*/	
@media(max-width: 1010px){
	.container{
		margin: auto;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		position: fixed;
		bottom: 10px;
		left: 10px;
	}
	.card-titulo , .card-info p:last-child{
		display: none;
	}
	.card-info{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		
	}
}
/*--------------------------------*/